.slideshow__container {
   position: fixed;
   width: 100dvw;
   height: 85dvh;
   top: 60px;
   animation: fadeIn 0.5s ease-in-out forwards;
}

.slideshow__collection {
   width: 100%;
   height: 100%;
}

.slideshow__img {
   position: absolute;
   width: 100%;
   height: 100%;
   object-position: center;
   transition: 1100ms ease-in-out;
}

.visible {
   opacity: 1;
}

.hidden {
   opacity: 0;
}

@media screen and (max-width: 768px) {
   .slideshow__container {
      height: 40dvh;
   }
}
