@keyframes ellipsis--1 {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

@keyframes ellipsis--2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes ellipsis--3 {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}

.loader__container {
  display: flex;
  width: 100%;
  z-index: 2;
  justify-content: center;
  position: relative;
  align-self: center;
  color: #a172c7;
}

.loader__container--ellipsis {
  width: 70px;
  position: absolute;
  top: 1.5rem;
}

.loader__container--ellipsis div {
  border-radius: 50%;
  background-color: #803cb7b0;
  position: absolute;
  width: 1rem;
  height: 1rem;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader__container--ellipsis div:nth-child(1) {
  animation: ellipsis--1 0.6s infinite;
}

.loader__container--ellipsis div:nth-child(2) {
  left: 1px;
  animation: ellipsis--2 0.6s infinite;
}

.loader__container--ellipsis div:nth-child(3) {
  left: 25px;
  animation: ellipsis--2 0.6s infinite;
}

.loader__container--ellipsis div:nth-child(4) {
  left: 52px;
  animation: ellipsis--3 0.6s infinite;
}

.loader__container span {
  position: absolute;
  height: fit-content;
  font-family: "wix madefor display", sans-serif;
  letter-spacing: 1px;
  font-weight: unset;
  font-size: 1.4rem;
  margin-top: 3rem;
}

@media screen and (max-width: 1366px) {
  .loader__container--ellipsis div {
    width: .9rem;
    height: .9rem;
  }

  .loader__container span {
    font-size: 1.25rem;
  }
}
