.forwardBtn {
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 6%;
  top: 60%;
  transition: 0.2s;
  border-radius: 50%;
  width: 70px;
  background-color: darkgrey;
  &:hover {
    background-color: #e2e2e2;
  }
}
