@keyframes typing {
    0% {
        color: transparent;
    }
    50%{
        color: transparent;   
    }
    100% {
        color: black;    
    }
}

.title__container {
    width: 80%;
    height: 45px;
    position: absolute;
    font-family: 'wix madefor display';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    letter-spacing: 1px;
    overflow: hidden;
}

.title__container h1 {
    display: flex;
    font-weight: lighter;
}

.title__underscore{
    animation-name:  typing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}