.cart--container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
    letter-spacing: 1px;
    background-color: whitesmoke;
    position: relative;
    margin-bottom: -27rem;
}

.cart__title--container {
    width: 30%;
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: end;
    border-bottom: 2px solid black;
    right: 0;
    z-index: 2;
}

.cart__title {
    font-size: 30px;
    justify-content: center;
    display: flex;
    position: relative;
    top: 10px;
    right: 2rem;
}

.cart__orderInfo--container {
    width: 56%;
    background-color: #292929;
    color: rgb(207, 207, 207);
    border: 1px solid darkgray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__orderInfo--details {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    margin-top: 1rem;
    align-items: center;
}

.cart__orderInfo--details h5 {
    padding-left: 1rem;
}

.cart__orderInfo--ID {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart__list--container {
    font-size: 1rem;
    height: 63%;
    width: 65%;
    position: absolute;
    left: 30px;
    bottom: 126px;
    overflow-y: auto;
    font-weight: lighter;
    letter-spacing: 0.5px;
    z-index: 1;
    overflow-x: hidden;
    scrollbar-color: rgb(145, 145, 145) #cccccc;
}

.cart__empty {
    position: relative;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.cart__total--container {
    position: absolute;
    top: 200px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    right: 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.cart__confirm--container{
    display: flex;
    font-size: 12px;
    position: relative;
    top: 25px;
    z-index: 1;
    color: whitesmoke;
    gap: 20px;
}

.cart__confirm--container:hover {
    color: black;
}

.cart__confirm {
    width: 65px;
    transition: 0.2s;
}

.cart__confirm:hover {
    cursor: pointer;
    transform: translateY(-5px);
    color: blac
}

.cart__erase--container {
    display: flex;
    align-items: center;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    top: 120px;
    gap: 1rem;
    width: 30%;
    right: 0px;
    z-index: 2;
}

.cart__erase--container:hover {
    color: black;
}

.cart__erase {
    transition: 0.2s;
    width: 43px;
}

.cart__erase:hover {
    cursor: pointer;
    transform: translateY(-5px);
    color: black;
}

.navigate__options--container {
    display: flex;
    position: absolute;
    bottom: 30px;
    letter-spacing: 1px;
    justify-content: center;
    gap: 2rem;
}

.swal2-container {
    font-family: 'wix madefor display', sans-serif;
    letter-spacing: 1px;
}

.swal2-icon.swal2-warning {
    border-color: #ffa354;
    color: #ffa354;
}