.products__container {
    display: flex;
    gap: 3rem;
    user-select: none;
    height: 650px;
    width: 53%;
    margin: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: -4rem;
}