.products__container {
    display: flex;
    gap: 2.5rem;
    user-select: none;
    height: 650px;
    width: 68rem;
    margin: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    top: 425px;
}