.products__container {
   display: flex;
   justify-content: center;
   height: 100dvh;
}

.products__container--items {
   display: flex;
   width: 100dvw;
   gap: 3rem;
   margin-top: 17rem;
   scroll-behavior: smooth;
   animation: fadeIn 0.5s ease-in-out forwards;
}

.products__container--items.has-buttons {
   width: 1100px;
   overflow-x: hidden;
}
