.userSignUp__container {
  width: 100dvw;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 100dvh;
  background-image: url("../../assets/imgs/defaultBackground.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7rem;
  margin-bottom: -100dvh;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.userSignUp__container h1 {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 2.7rem;
}

.userSignUp__form-container {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 4rem;
}

.userSignUp__form-container label {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0;
}

.userSignUp__input {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 1.3rem;
  border-radius: 2px;
  background-color: whitesmoke;
  font-size: 1rem;
  box-shadow: 1px 1px 2px 1px #848484;
  border: none;
}

.userSignUp__options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 4rem;
}

.userSignUp__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 48px;
  text-decoration: none;
  font-family: "wix madefor display", sans-serif;
  background-color: #803cb7b0;
  color: whitesmoke;
  border: none;
  transition: 0.3s;
  letter-spacing: 1px;
  font-size: 14px;
  position: relative;
  &:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: #803cb7b0;
  }
}

.userSignUp__accountSet {
  color: rgb(19, 19, 232);
  &:hover {
    cursor: pointer;
  }
}

.userSignUp__options-subcontainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -5px;
}
