.mainBtn {
   width: 205px;
   height: 48px;
   text-decoration: none;
   font-family: "wix madefor display", sans-serif;
   color: whitesmoke;
   background-color: #803cb7b0;
   border: none;
   transition: 0.3s;
   letter-spacing: 1px;
   font-size: 14px;
   position: relative;
}

.mainBtn:hover {
   cursor: pointer;
   background-color: whitesmoke;
   color: #803cb7b0;
   border-color: transparent;
}

@media screen and (max-width: 1366px) {
  .mainBtn {
    width: 185px;
    height: 44px;
  }
}
