.buyformModal__container {
  width: 98%;
  height: 55%;
  background-color: #282828;
  transition: transform 0.3s ease-in-out;
  color: rgb(189, 189, 189);
  position: fixed;
  align-content: center;
  font-weight: unset;
  letter-spacing: 1px;
  z-index: 3;
}

.buyFormModal__sliderDown {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: 0.2s;
  height: 1rem;
  width: 1rem;
  z-index: 2;
}

.buyFormModal__sliderDown:hover {
  cursor: pointer;
  color: white;
}

.buyForm__title {
  position: absolute;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 7px;
  font-weight: unset;
  font-size: 14px;
}

@media screen and (max-width: 1600px) {
  .buyformModal__container {
    height: 65%;
  }
}

@media screen and (max-width: 1366px) {
  .buyformModal__container {
    height: 80%;
  }
}
