.navBar {
    min-width: 100vh;
    height: 4.4rem;
    background-color: rgba(220,220,220);
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 4;
    box-shadow: 0px 1px 10px black;
    user-select: none;
}

.logo__container {
    display: flex;
    text-shadow: 3px 3px 4px black;
    transition: 0.2s;
    font-weight: lighter;
    font-size: 25px;
}

.logo__container:hover {
    cursor: pointer;
    text-shadow:3px 3px 2px black;
}

.logo__title {
    padding-left: 1.5rem;
    height: fit-content;
    margin-top: 3px;
    color: #ffffff;
    letter-spacing: 3px;
    font-size: 2rem;
}

.logo__subtitle {
    margin-top: 34px;
    position: absolute;
    margin-left: 8.3rem;
    font-size: 20px;
    color: #292929;
    letter-spacing: 4px;
}

.menu__container {
    display: flex;
    width: 50rem;
    position: absolute;
    right: 0;
    background-color: #353535;
    height: inherit;
}

.categories {
    transition: 0.25s;
    color: rgb(219, 219, 219);
    text-decoration: none;
    height: 0px;
}

.categories__list {
    display: flex;
    gap: 45px;
    list-style: none;
    justify-content: flex-end;
    padding: 1rem;
    letter-spacing: 2px;
}

.categories__list a.active {
    box-shadow: 0px -30px 0.5px 1px white
}

.categories:hover {
    cursor: pointer;
    text-decoration: none;
    text-shadow:2px 2px 2px black;
    color: white;
}