.slider__container {
  width: 23%;
  height: 86%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 62px;
  right: 0;
  background-color: ghostwhite;
  font-family: "wix madefor display", sans-serif;
  background-color: #dcdcdc;
  transition: 0.2s ease-in-out;
  user-select: none;
}

.slider__closeButton {
  position: absolute;
  top: 1rem;
  color: black;
  transition: 0.2s ease-out;
  font-size: 20px;
  font-weight: bold;
}

.slider__closeButton:hover {
  cursor: pointer;
  color: #484848;
}

.slider__title {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  color: #484848;
  width: 100%;
  font-size: 1.7rem;
}

.slider__empty {
  display: flex;
  justify-content: center;
  margin-top: 50%;
  font-weight: lighter;
  position: relative;
  font-size: 1.35rem;
}

.slider__listContainer {
  height: fit-content;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 2rem;
}

.total__container {
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  right: 33px;
  position: absolute;
  top: 21px;
  gap: 1rem;
}

.total__container h3 {
  color: #484848;
  font-size: 1.5rem;
}

.total__price {
  font-weight: bold;
  font-size: 1.8rem;
  color: rgb(116, 159, 125);
}

.slider__goToCartBtn--container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 6rem;
}

.slider__goToCartBtn {
  display: flex;
  width: 205px;
  height: 48px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  background-color: #803cb7b0;
  color: whitesmoke;
  transition: 0.3s;
  letter-spacing: 0.7px;
  font-size: 15px;
  border: none;
  position: relative;
}

.slider__goToCartBtn:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #803cb7b0;
  border-color: transparent;
}
